.container {
    width: 100%;
}

.star {
    color: gold;
    font-size: 1em;
}

.title {
    line-height: 1.0;
}

.creationDate {
    color: #999;
    font-size: 0.9em;
    font-family: monospace;
    opacity: 0.9;
}
